language: java
sudo: required
jdk: oraclejdk8

services:
- docker

env:
  global:
  - secure: "nVLLkgmeFcTPMjKmHN3Ep7IDUJKnh+akOsNQC3RgFi4GW5UN8dIaH3fsCK8W1NrtLue4IdlM9sjSTPpZXEh1flET/wGejHgiGlUsTiEmrSs6NLYwDccGxoDwY231+wQyruJkBku84oLyK6AhaaDlwDiMiu99iLuvZ51A0eppobIIjgLsuOsb++KgRo74kJdJOVopP7+7Ft+ZdfjJHJ6J4/GqvhwlQYpoA3Twwd4pz6RqUJX7iN2faSpR8ieSQ5AHTs2PiF4fnHJhKY0RaD6InDHe7Z7mMiAmhd+3Y3KhBSakJ4r0Zy3+yel/f0yZu8TLyA0hSBv1pprOEfQv+EabJx0Rtvyuyl0Bd4LFo1pdW3c9i+eUuNj9kuWr70L39BHhn9HdEml4g1JP9mym66ZG7cDCid27lzBMPbki7ZsLs+5TtNiuEeihfdDXjbRy803Q6bK/Vq0sqt11oOOftgcIPML7V7SWnmMYat+N1FMgbMEV/pEpwYtYCGVQ0KTR7aM613kif+JSbonS3Qc1sLoF3/32wzPPHjJ39kAm18Rzl1b/1poR08QjgvcMWZHaPyWwN8hf9XM/3DTdimfnpf2ZnYBKT/AUmOiYMobeiOXfsBZS95+wyAHx9LrkoSV/AkJ/h5dbogYG44QSnxcD9TsKWA1e9KZGfctxqmThzXeQwQ8="
  - secure: "G4AUIftEWuiNRNzRpdtMwKpTlWnR2cpknySFXdR2MszEsGdOQtmLPqp31GuwSrJCAij0Ae5Y3aBrNC8YGqrDmkHQwbOqPgV1TCBknKizDU3iHzPO1JRXPLkK6J+ivQ+xYG0+czKDFOiEq+G5rzLFAu9LkHIxGehHRYRuGdGKxGsU/oEVFtvkHeqhpCLRrxStuQaDh8QOrLUnzJIaDjYzquzagSTmajUOBSTuVV3lOIa+xJ/DFwAiL3fG7ttKUrS0aVDkUsmgmuTcRW183EWT40RmMtPT3N61VZHOqC63yGiKs5ZsGQ8LJdOrMHsJIk6ehHiB/ByhK6iRf2Vy3eJvV4uJA2t40shc3HiD70RRc8iGJuRaf9N5KJ3Qf5/ZqfZiVu2tz2m2T+SG0pn6H0FKnjTLjq199zZ7Zt9Ovped/k1PfDYXK/YfrX7lVqt+kKg9DCVmqPfA7P6mjkC1rd0LcJkf+VWEJH9dhs9BzW4A7M4odnG3uTDTTk8HrVTjHNOvE+uejWxuo35VG0NkBG8kusGpTGazxo+qBcqymY/kLpNj86Cb23js1P8WT5hbRugV0s9JxbMyMwpP8+w5g+aDZ9m886SiuBWZfnFzVfLsfsZzZYBi5cj+tYsbGukorI9M4ONaH55Y2zPBi72kO2OEfb9vJ0gvbFiMxgtEg8rmwK8="
  - COMMIT=${TRAVIS_COMMIT::7}

cache:
  directories:
    - '$HOME/.m2/repository'
    
script:
  - ./mvnw clean install -B

after_success:
  - docker login -u "coolindguy" -p "anne12"
  - export TAG=`if [ "$TRAVIS_BRANCH" == "develop" ]; then echo "latest"; else echo $TRAVIS_BRANCH; fi`
  - export IMAGE_NAME=coolindguy/babysteps
  - docker build -t $IMAGE_NAME:$COMMIT .
  - docker tag $IMAGE_NAME:$COMMIT $IMAGE_NAME:$TAG
  - docker push $IMAGE_NAME
